body {
    font-family: "PT Serif", Georgia, Times, serif;
    font-size: 26pt;
    font-size: clamp(22pt, calc(5vw), 26pt);
    margin: 0;
    padding: 60px;
    padding: var(--space);
    line-height: 1.4;
    color: #1A1919;
    --space: clamp(30px, calc(6vw), 80px);
}

header {
    margin-bottom: 140px;
}
.logo {
    transform-origin: 0 0;
    transition: 100ms scale ease;
}
header:hover img {
    scale: 200%;
}

a {
    color: inherit;
}
a:visited {
    color: dimgray;
}

p {
    max-width: 675px;
}

ul {
    padding: 0;
    list-style: none;
    max-width: 675px;
}

figure {
    display: flex;
    width: 100%;
    margin: 120px 0 60px;
    margin: calc(var(--space) * 2) 0 60px;
    gap: 10px;
    gap: calc(var(--space) / 8);
    flex-wrap: wrap;
    max-width: 100ch;
}

figure img {
    flex: 1 0 100px;
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
    transition: 200ms scale, 200ms box-shadow;
}
@media (pointer: fine) {
    figure img:hover {
        scale: 110%;
        box-shadow: 0 0 10px dimgrey;
        z-index: 1;
    }
}

footer {
    font-size: 12pt;
}

footer p {
    margin: 0;
}